* {
	margin: 0;
	padding:0;
	font-family: 'Roboto', sans-serif; 
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


/*Fortune Color: ffdabb*/
.container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:90vw;
  height:90vh;
  margin:5vh 5vw;
  background:#fff7e3;
  border-radius: 10px;
}
h1{
	padding:.5em;
	border-radius:10px;
	background:#666;
	color:#fff;
}
.fortune {
	display:block;
}
.top-triangles, .bottom-triangles {
  display:flex;
	max-width:100%;
}

.scale {
		transition: .3s ease-out;
}

.one {
  width:0;
  height:0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #ff9f7f;
}

.one-one {
	width:0;
	height:-200;
	position:relative;
	border-left: 200px solid transparent;
	border-bottom: 20px solid #ff9f7f;
}

.one-two {
  width:0;
  height:0;
  border-left: 20px solid transparent;
  border-bottom: 200px solid #ff9f7f;
}

.two {
	width:0;
	height:0;
	border-right:200px solid transparent;
  border-bottom: 200px solid #fd7e76;
}
.two-one {
	width:0;
	height:-200;
	border-right:200px solid transparent;
  border-bottom: 20px solid #fd7e76;
}
.two-two {
	width:0;
	height:0;
	border-right:20px solid transparent;
  border-bottom: 200px solid #fd7e76;
}

.three {
	width:0;
	height:0;
	border-left:200px solid transparent;
  border-top: 200px solid #fd7e76;
}

.three-one {
	width:0;
	height:0;
	border-left:200px solid transparent;
  border-top: 20px solid #fd7e76;
}
.three-two {
	width:0;
	height:0;
	border-left:20px solid transparent;
  border-top: 200px solid #fd7e76;
}

.four{
	width:0;
	height:0;
	border-right:200px solid transparent;
	border-top: 200px solid #d05a5e;
}

.four-one {
	width:0;
	height:0;
	border-right:200px solid transparent;
	border-top: 20px solid #d05a5e;
}
.four-two{
	width:0;
	height:0;
	border-right:20px solid transparent;
	border-top: 200px solid #d05a5e;
}